
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;

}
body {
    background-color: #6C655D;
}

header, main, footer {
    width:50%;
    margin: auto;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    padding: 20px 50px;

}

li a  {
    padding: 2rem 1.5rem;
    text-decoration: none;
    color: #000;

}

li a:hover {
    padding: 50px ;
    background:#592A2E;

}

h1 {
    font-size: 80px;
    text-align: center;
 }

h1 span {
    font-size: 70px;
    color:#592A2E;

 }
 
.carousel {
    width: 100%;
    margin-bottom: 2%;

 }
article, .box {
    /* border: solid red ; */
    display: flex;
    justify-content: space-around;

    
 }

.blok {
    width: 30%;


  }
  .blok * {
    border: 1px solid red;
    
  }
  img {
    width: 100%;
  }

h2 {
    background-color: #592A2E;
    text-align: center;
    color: white;
    width: 100%;
    padding: 5%;
    /* border: solid red */

  }

  


.plus_btn {
display: block;
width: 25%;
/* margin-right: 0; */
 align-items: end;

}

.suite {
    flex-direction: column;
    text-align: start;
}

.suite li {
    list-style-image: url('../img/arrow.png');
}
h3{
    text-align: center;

}

.liste p:first-of-type {
    font-weight: 900;
}
    
  
   

    
 
